/* ----------------------------------- *\
			content styles
\* ----------------------------------- */
.form-panel-box {
	margin-bottom: 12px;
	position: relative;
	font-size: 16px;
	line-height: 1.45;
	&.elm-panel {
		padding: 14px;
	}
	.frm-section-wrap {
		padding-bottom: 5px;
	}
	.frm-section-title {
		display: block;
		font-size: 18px;
		line-height: 1.25;
		margin: 0 0 10px 0;
		font-weight: 400;
	}
	.frm-row {
		margin: 0 -5px;
	}
	.frm-field {
		width: 100%;
		padding: 0 5px;
		margin-bottom: 10px;
		display: flex;
		align-items: center;
		&.field-max {
			max-width: 100%;
		}
		&.field-col {
			display: block;
			.field-title {
				width: 100%;
				padding-right: 0;
				margin-bottom: 5px;
			}
			.field-content {
				max-width: 100%;
			}
		}
	}
	.field-four {
		width: 50%;
	}
	.field-title {
		width: 132px;
		flex-shrink: 0;
		padding: 0 10px 0 0;
		&+.field-content {
			max-width: calc(100% - 132px);
		}
	}
	.field-content {
		width: 100%;
		flex: 1;
		display: flex;
		gap: 10px;
		.form-input {
			width: 100%;
		}
		.btn {
			flex: 1;
		}
	}
	.frm-row-submit {
		margin: 0 -5px;
		.frm-field {
			width: auto;
			display: block;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
.user-box {
	display: flex;
	flex-wrap: wrap;
	.photo-inner-wrap {
		width: 100%;
		flex-shrink: 0;
		margin-bottom: 10px;
	}
	.elm-photo {
		border-radius: 50%;
		border: 1px solid var(--clr-border-light);
		width: 96px;
	}
	.section-title {
		font-size: 24px;
		font-weight: 600;
		line-height: 1.25;
		margin-bottom: 8px;
	}
	table {
		margin: 0;
		table-layout: fixed;
		th, td {
			font-size: 16px;
			line-height: 1.4;
			padding: 0 0 16px 0;
			background: none;
			border: none;
			height: auto;
		}
		tr {
			&:nth-child(2n) {
				th, td {
					background: none;
				}
			}
			&:last-child {
				th, td {
					padding-bottom: 0;
				}
			}
		}
	}
}
.info-map-box {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	.map-inner-wrap {
		position: relative;
		overflow: hidden;
		min-height: 456px;
		border-radius: var(--mainRadius);
		width: 100%;
		background: var(--clr-bg-light);
		flex: 1;
		&>iframe {
			display: block;
			height: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
	.popup-list-wrap {
		position: absolute;
	}
}
.menu-buttons-box {
	margin-bottom: 25px;
	&:last-child {
		margin-bottom: 0;
	}
	li {
		margin-bottom: 10px;
		padding: 0 8px;
		flex-shrink: 0;
		width: 100%;
	}
	.menu, .list {
		margin: 0 -8px;
	}
	.btn {
		height: 38px;
		width: 100%;
		font-size: 16px;
	}
}
.tabs-slider-box {
	margin-bottom: 30px;
	.slider-inner-wrap {
		padding: 0 28px 0 30px;
		position: relative;
		&:has(.swiper-button-disabled~.swiper-button-disabled) {
			padding: 0 10px;
			.swiper-button-disabled {
				display: none;
			}
		}
	}
	.slider-wrap {
		margin: 0 -8px;
		position: relative;
	}
	.sl-wrap {
		width: auto;
		padding: 0 4px;
	}
	.button-slider-tabs-prev,
	.button-slider-tabs-next {
		position: absolute;
		top: 50%;left: -10px;
		margin-top: -20px;
	}
	.button-slider-tabs-next {
		left: auto;
		right: -10px;
	}
	&.type-border {
		position: relative;
		&:before {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;left: 8px;right: -6px;
			height: 1px;
			background: var(--clr-border-light);
		}
	}
}
.buttons-actions-box {
	margin-bottom: 5px;
	margin-left: -5px;
	margin-right: -5px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	.action-title {
		font-size: 16px;
		line-height: 1.45;
		font-weight: 400;
		text-align: center;
		margin: 0 0 10px 0;
		padding: 0 5px;
		width: 100%;
		flex-shrink: 0;
	}
	.action-wrap {
		flex: 1;
		padding: 0 5px;
		margin-bottom: 10px;
	}
	.btn {
		width: 100%;
		font-size: 14px;
	}
}
.page-actions-box {
	margin-bottom: 15px;
	margin-top: 0;
	display: flex;
	justify-content: space-between;
	&:last-child {
		margin-bottom: 0;
	}
	.action-inner-wrap {
		display: flex;
		align-items: center;
		flex-shrink: 0;
		padding: 0 15px 0 0;
	}
	.pages-inner-wrap {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	.pages-wrap {
		display: flex;
		flex-shrink: 0;
		align-items: center;
		padding: 0 8px;
	}
	.action-title {
		display: none;
		padding-left: 10px;
		flex-shrink: 0;
		font-size: 14px;
		line-height: 1.25;
	}
	.action-field {
		width: auto;
		min-width: 60px;
	}
	.btn-page {
		height: 30px;
		min-width: 30px;
		text-align: center;
		line-height: 28px;
		border-radius: 4px;
		transition: all ease 0.2s;
		border: 1px solid var(--clr-border-light);
		font-size: 14px;
		color: var(--clr-base);
		transition: all ease 0.2s;
		margin: 0 0 0 8px;
		padding: 0 8px;
		position: relative;
		&:first-child {
			margin-left: 0;
		}
		&:hover, &.active {
			background-color: var(--clr-att);
			border-color: var(--clr-att);
			color: #fff;
			&:before {
				filter: var(--filterWhite);
			}
		}
		&.button-disabled {
			border-color: var(--clr-att);
			pointer-events: none;
			opacity: 0.5;
			&:before {
				filter: none;
			}
		}
		&.active {
			min-width: 24px;
			height: 24px;
			line-height: 22px;
		}
		&:before {
			filter: var(--filterAttToBase);
		}
	}
	.button-nav {
		width: 34px;height: 24px;
		min-width: 0;
		padding: 0;
		margin: 0;
		&:before {
			content: "";
			display: block;
			width: 24px;
			height: 24px;
			position: absolute;
			background: url(../img/icons/arrow-main.svg) center no-repeat;
			background-size: 100% auto;
			top: 50%;left: 50%;
			margin: -12px 0 0 -12px;
		}
	}
	.button-nav-prev {
		&:before {
			rotate: 180deg;
		}
	}
}
.panels-grid-box {
	&:last-child {
		margin-bottom: 15px;
	}
	.wrap-panel-main, .wrap-panel-side {
		width: 100%;
	}
	.panel-box, .panel-list-box {
		margin-bottom: 5px;
		min-height: 100%;
	}
}
.panel-box {
	margin-bottom: 15px;
	.form-panel-outer-wrap.type-border {
		border-top: 1px solid var(--clr-border-light);
		padding-top: 12px;
		margin-top: 20px;
	}
	.form-panel-second-wrap {
		margin-top: 12px;;
	}
	&:not(.elm-panel, .elm-panel-desktop) {
		.panel-tabs-wrap {
			margin-left: 0;
			margin-right: 0;
			padding-left: 0;
			padding-right: 0;
		}
	}
	.panel-form-wrap {
		font-size: 16px;
		line-height: (18/16);
		margin-bottom: 8px;
		.frm-row {
			margin: 0;
		}
		.frm-field {
			width: 100%;
			padding: 0;
			margin-bottom: 8px;
			display: block;
		}
		.field-title, .field-value {
			flex-shrink: 0;
			padding: 3px 12px 3px 0;
			display: inline-block;;
			vertical-align: middle;
			&:last-child {
				padding-right: 0;
			}
		}
		.field-title {
			color: var(--clr-light);
		}
		.btn {
			vertical-align: middle;
		}
	}
	.form-inner-wrap, .buttons-inner-wrap {
		width: 100%;
		flex-shrink: 0;
		order: 3;
		margin-top: 10px;
		
		.frm-field {
			display: flex;
			align-items: center;
			margin: 0;
		}
		.field-title {
			flex-shrink: 0;
			padding: 0 15px 0 0;
			font-size: 14px;
			font-weight: 400;
		}
		.field-content {
			flex: 1;
		}
	}
	.buttons-inner-wrap {
		.frm-field {
			width: auto;
			margin-bottom: 8px;
		}
	}
	.info-map-box {
		margin-bottom: 0;
		width: 100%;
		flex: 1;
	}
	&.elm-panel {
		padding: 10px;
	}
	.elm-panel {
		padding: 11px;
	}
	.page-actions-box {
		margin-left: -11px;
		margin-right: -11px;
		padding-left: 11px;
		padding-right: 11px;
	}
	.tbl-inner-wrap {
		margin: 0 -11px;
		table {
			margin: 0;
		}
		&+.tbl-inner-wrap {
			margin-top: 15px;
		}
	}
	.panel-title-wrap {
		margin-bottom: 8px;
		font-size: 16px;
		line-height: 1.45;
		&:has(.form-inner-wrap) {
			
		}
		.form-inner-wrap {
			width: 100%;
			.frm-field {
				margin-bottom: 8px;
				width: 50%;
			}
			.btn {
				justify-content: center;
				.button-title {
					flex: 0 0 auto;
					width: auto;
				}
			}
		}
		.title-wrap {
			max-width: 100%;
		}
		.actions-wrap {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			margin: 10px -6px -8px -6px;
			&:first-child {
				margin-top: 0;
			}
		}
		.action-wrap {
			width: 50%;
			padding: 0 6px;
			margin-bottom: 10px;
		}
		.btn {
			width: 100%;
		}
	}
	.panel-actions-wrap {
		display: flex;
		margin-bottom: 10px;
		flex-wrap: wrap;
	}
	.panel-buttons-wrap {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -8px;
		align-items: center;
		.button-wrap {
			flex-shrink: 0;
			padding: 0 8px;
		}
		.button-link {
			padding: 0 10px;
			height: 36px;
		}
	}
	.panel-tabs-wrap {
		margin: 0 -10px 10px -10px;
		border-bottom: 1px solid var(--clr-border-light);
		padding: 0 10px;
		flex-shrink: 0;
		&:first-child {
			margin-top: -10px;
		}
		.tabs-slider-box {
			margin-bottom: -1px;
		}
	}
	.filter-box {
		flex-shrink: 0;
		padding-left: 8px;
		order: 2;
		margin: 0;
	}
	.search-inner-wrap {
		flex: 1;
		order: 1;
	}
	.h1-title.title-small {
		font-weight: 400;
	}
	.panel-title {
		margin-bottom: 0;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.tiles-box {
		margin-bottom: 0;
		.btn {
			padding-left: 14px;
		}
		.btn.button-vlight.button-border {
			&:not(:hover) {
				.button-ico {
					filter: var(--filterAttToBase);
				}
				&.button-arrow {
					&:before {
						filter: var(--filterAttToBase);
					}
				}
			}
		}
	}
}
.filter-box {
	display: block;
	position: relative;
	line-height: 1.25;
	.filter-content-wrap {
		display: flex;
	}
	.filter-submit-wrap {
		padding: 0 0 0 12px;
		width: auto;
	}
	.filter-form-wrap {
		flex: 1;
	}
	.frm-field {
		width: 25%;
	}
	.field-submit {
		width: auto;
		flex-shrink: 0;
	}
	.btn-popup, .btn-popup-close, .filter-action-wrap, .filter-title, .field-reset {
		display: none;
	}
	.filter-title {
		font-weight: 400;
		font-size: 24px;
		line-height: inherit;
	}
}
.panel-list-box {
	margin-bottom: 15px;
	padding: 8px 16px;
	.panel-title {
		text-align: center;
		margin-bottom: 13px;
		font-weight: 400;
		&.title-left {
			text-align: left;
		}
	}
	.panel-action {
		text-align: center;
		font-size: 14px;
		line-height: 1.25;
		padding: 16px 0 8px 0;
		&.text-left {
			text-align: left;
		}
	}
	.panel-content {
		flex: 1;
		display: block;
	}
	
	li {
		margin-bottom: 12px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.title-panel-box {
	font-size: 16px;
	line-height: 1.45;
	.tabs-wrap {
		width: 100%;
		position: relative;
		order: 3;
		margin-left: -6px;
		margin-right: -6px;
	}
	.tabs-slider-box {
		margin-bottom: 12px;
	}
	.section-title {
		color: var(--clr-base);
		margin-bottom: 0;
	}
	.title-wrap {
		margin-bottom: 12px;
		flex: 1;
	}
	.actions-wrap {
		display: none;
		flex-shrink: 0;
		margin-bottom: 12px;
		align-items: center;
		justify-content: flex-end;
		flex-wrap: wrap;
		gap: 12px;
	}
	.action-wrap {
		flex-shrink: 0;
		padding: 0;
	}
	.action-main {
		.btn {
			height: 40px;
		}
	}
	.h2-title {
		font-weight: 400;
	}
}
.tiles-box {
	margin-bottom: 15px;
	.notify-panel-wrap {
		display: none;
	}
}
.bg-full-wrap {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	width: 100dvw;
	min-width: var(--min);
	transform: translateX(-50%);
	overflow: hidden;
}
.bg-box {
	position: relative;
	z-index: 2;
	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		width: 100dvw;
		min-width: var(--min);
		transform: translateX(-50%);
		overflow: hidden;
		background: var(--clr-bg-light);
	}
	&>*:last-child {
		margin-bottom: 0;
	}
}
body.popup-open {
	overflow: hidden;
}
.popup-inner-box {
	display: none;
	padding: 20px 25px;
	animation: fadein ease 0.2s;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 100;
	background: fade(#000, 70);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: none;
	-ms-overflow-style: none;
	&::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
	&.active {
		display: flex;
	}
	.popup-box {
		display: flex;
		margin: auto;
		flex-direction: column;
		flex-shrink: 0;
		position: relative;
		overflow: hidden;
		width: 650px;
		max-width: 100%;
		max-height: inherit;
		background-color: #fff;
		z-index: 20;
		border-radius: 12px;
		padding: 12px;
		.popup-title-wrap, .popup-footer-wrap {
			width: 100%;
			flex-shrink: 0;
			text-align: center;
		}
		.popup-content-wrap {
			width: 100%;
		}
		.popup-footer-wrap {
			padding-top: 12px;
		}
	}
	.tbl-popup-wrap {
		border-radius: 12px;
		border: 1px solid var(--clr-border-light);
		position: relative;
		overflow: hidden;
	}
}
@media (max-width: 1023px) {
	.title-panel-box {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 12px;
		gap: 12px;
		.title-wrap, .actions-wrap {
			margin: 0;
		}
		.actions-wrap {
			display: flex;
			padding-left: 0;
			flex-wrap: wrap;
			max-width: 100%;
		}
	}
	.panel-box {
		table {
			thead {
				br {
					display: none;
				}
			}
		}
		.tbl-inner-wrap {
			margin: 0;
		}
		.page-actions-box {
			margin-left: -10px;
			margin-right: -10px;
			margin-top: 15px;
			padding-left: 10px;
			padding-right: 10px;
			border-top: 1px solid var(--clr-border-light);
			padding-top: 14px;
		}
	}
	.filter-show {
		overflow: hidden;
	}
	.filter-box {
		.filter-content-block {
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 140;
			background: #fff;
			padding: 15px;
			flex-direction: column;
			display: none;
		}
		.filter-title-wrap {
			display: block;
			width: 100%;
			flex-shrink: 0;
			padding-bottom: 10px;
			text-align: center;
			margin: 0;
		}
		.filter-content-wrap {
			display: block;
			width: 100%;
			flex: 1;
			overflow-y: auto;
			overflow-x: hidden;
			scrollbar-width: none;
			-ms-overflow-style: none;
			&::-webkit-scrollbar {
				width: 0;
				height: 0;
			}
		}
		.filter-action-wrap {
			display: block;
			width: 100%;
			flex-shrink: 0;
			padding-top: 10px;
			text-align: center;
			font-size: 14px;
		}
		.filter-submit-wrap {
			padding: 5px 0 0 0;
		}
		.frm-row-submit {
			justify-content: space-between;
			align-items: center;
			.frm-field {
				margin-bottom: 0;
				width: auto;
			}
		}
		.field-reset {
			.btn {
				font-size: 14px;
			}
		}
		.btn-popup, .btn-popup-close, .filter-action-wrap, .filter-title, .field-reset {
			display: block;
		}
		.btn-popup, .btn-popup-close {
			display: inline-flex;
		}
		.frm-field {
			width: 50%;
		}
		.js-btn-popup-toggle.active+.js-popup-block {
			display: flex !important;
		}
	}
	.popup-inner-box {
		.tbl-popup-wrap {
			border-radius: 0;
			border: none;
			table.tbl-activities {
				tr {
					&:has(.elm-photo) {
						padding-left: 68px;
					}
				}
				th, td {
					&:has(.elm-photo) {
						width: 48px;height: 48px;
						min-width: 48px;
						padding: 0;
						border: none !important;
						position: absolute;
						top: 9px;left: 9px;
						&:before {
							display: none;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 743px) {
	.user-box {
		position: relative;
		.info-inner-wrap {
			position: static;
		}
		.title-inner-wrap {
			position: static;
		}
		.elm-status {
			position: absolute;
			top: 73px;left: 66px;
			z-index: 2;
		}
		table {
			display: block;
			position: relative;
			thead {
				display: none;
			}
			tbody,
			tr,
			td,
			th {
				display: block;
				width: 100%;
				min-width: 100%;
				max-width: 100%;
				width: 100%;
				position: relative;
				overflow: hidden;
				padding: 0;
			}
			th, td {
				margin-bottom: 8px;
			}
			tr {
				&:last-child {
					th, td {
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
	.title-panel-box {
		.action-wrap {
			flex-basis: auto;
			flex-grow: 1;
			.btn {
				width: 100%;
			}
		}
	}
	.filter-box {
		.frm-field {
			width: 100%;
			margin-bottom: 5px;
		}
		.form-input {
			border-radius: var(--smallRadius);
		}
	}
	.panel-box {
		 .panel-title-wrap .action-wrap.wrap-mobile-full {
			width: 100%;
		 }
		.panel-actions-wrap {
			&:not(:has(.search-inner-wrap)) {
				.filter-box {
					padding-left: 0;
					width: 100%;
					.btn-popup {
						width: 100%;
					}
				}
			}
		}
		.panel-buttons-wrap {
			.btn {
				&.button-link {
					font-size: 14px;
				}
			}
			
		}
		.buttons-inner-wrap {
			.field-full-mobile {
				width: 100%;
				.btn {
					width: 100%;
				}
			}
		}
	}
}
@media (min-width: 744px) {
	.form-panel-box  {
		.field-third {
			width: 33.33%;
		}
		.field-half {
			width: 50%;
		}
		.field-four {
			width: 25%;
		}
		.field-title {
			width: auto;
			flex-shrink: 0;
			padding-right: 12px;
			&+.field-content {
				max-width: inherit;
			}
		}
	}
	.user-box {
		display: flex;
		.photo-inner-wrap {
			width: 96px;
			flex-shrink: 0;
			margin: 0;
		}
		.info-inner-wrap {
			flex: 1;
			margin: 0;
			padding: 0 0 0 24px;
		}
		.title-inner-wrap {
			display: flex;
			align-items: center;
		}
		.section-title {
			font-size: 32px;
			margin-bottom: 16px;
			margin-right: 10px;
			&:last-child {
				margin-right: 0;
			}
		}
		table {
			max-width: 600px;;
		}
		.elm-status {
			margin-bottom: 16px;
		}
	}
	.info-map-box {
		.map-inner-wrap {
			min-height: 520px;
		}
	}
	.tabs-slider-box {
		.slider-wrap {
			margin: 0 -8px;
		}
		.sl-wrap {
			padding: 0 2px;
		}
	}
	.buttons-actions-box {
		margin-left: 0;
		margin-right: 0;
		.action-title {
			font-size: 16px;
			padding: 0 15px 0 0;
			width: auto;
		}
		.action-wrap {
			flex: 0 0 auto;
			width: auto;
			padding: 0 15px 0 0;
		}
		.btn {
			font-size: 18px;
		}
	}
	.page-actions-box {
		.action-title {
			display: block;
		}
	}
	.tiles-box {
		margin-bottom: 25px;
	}
	
	.panel-box {
		.panel-title-wrap {
			.form-inner-wrap {
				order: 3;
				width: auto;
				display: flex;
				justify-content: flex-end;
				flex: 1;
				.frm-field {
					width: auto;
				}
				.field-content {
					min-width: 0;
				}
			}
		}
		.panel-actions-wrap {
			gap: 8px 30px;
			flex-wrap: wrap;
		}
		.search-inner-wrap {
			margin: 0;
			padding: 0;
		}
		.filter-box {
			margin: 0;
			padding: 0;
		}
		.form-inner-wrap {
			order: 1;;
			padding-left: 0;
			padding-right: 0;
			width: auto;
			flex-shrink: 0;
			margin-top: 0;
			margin-bottom: 0;
			.field-content {
				min-width: 244px;
			}
		}
		.buttons-inner-wrap {
			order: 1;;
			padding-left: 0;
			padding-right: 0;
			width: 100%;
			flex-shrink: 0;
			margin-top: 0;
			margin-bottom: 0;
		}
		&.panel-teams {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			.panel-title-wrap {
				order: 1;
				flex: 1;
				padding: 0;
				margin: 0;
			}
			.panel-outer-wrap {
				width: 100%;
				flex-shrink: 0;
				order: 3;
				margin: 10px 0 0 0;
			}
			.panel-buttons-wrap {
				order: 2;
				flex-shrink: 0;
				width: auto;
				margin: 0;
				.button-wrap {
					padding: 0 0 0 15px;
				}
			}
			.menu-buttons-box {
				.menu, .list {
					display: flex;
					flex-wrap: wrap;
					justify-content: flex-start;
					li {
						width: auto;
						min-width: 195px;
						margin-bottom: 0;
					}
				}
			}
		}
		.panel-title-wrap {
			display: flex;
			align-items: flex-start;
			&:has(.actions-wrap) {
				.title-wrap {
					min-height: 36px;
					display: flex;
					align-items: center;
				}
				.panel-title {
					width: 100%;
				}
			}
			.title-wrap {
				
			}
			.actions-wrap {
				width: auto;
				margin: 0 0 -6px 0;
				padding: 0;
				flex: 1;
				justify-content: flex-end;
			}
			.action-wrap {
				width: auto;
				padding: 0 0 0 12px;
				margin-bottom: 8px;
			}
		}
	}
}
@media (min-width: 744px) and (max-width: 1023px) {
	@supports (display: contents) {
		.panel-box.title-filter-row {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			.panel-content-wrap {
				width: 100%;
				flex-shrink: 0;
			}
			.panel-title-wrap {
				flex: 1;
				margin-bottom: 10px;
			}
			.panel-actions-wrap {
				flex-shrink: 0;
				margin: 0 0 10px 0;
				width: 420px;
				&:not(:has(.search-inner-wrap)) {
					width: auto;
					align-self: flex-end;
				}
			}
			.panel-outer-wrap {
				display: contents;
			}
		}	
	}
	.form-panel-box {
		.field-third {
			display: block;
			.field-title {
				width: 100%;
				padding-right: 0;
				margin-bottom: 4px;
				&+.field-content {
					max-width: 100%;
				}
			}
		}
	}
	.panel-box {
		.panel-title-wrap {
			.wrap-tablet-first {
				order: -1;
				width: 100%;
				display: flex;
				justify-content: flex-end;
				.btn {
					width: auto;
				}
			}
		}
		.search-inner-wrap {
			&.full-tablet {
				width: 100%;
				flex: 0 0 100%;
			}
			&~.buttons-inner-wrap {
				width: auto;
			}
		}
	}
}
@media (min-width: 744px) and (max-width: 1399px) {
	.panels-grid-box {
		.wrap-panel-side {
			.panel-list-box {
				.list {
					columns: 2;
					column-gap: 10px;
					li {
						page-break-inside: avoid;
						break-inside: avoid-column;
						width: 100%;
					}
				}
			}
		}
	}
}
@media (min-width: 1024px) {
	.page-actions-box {
		padding-top: 15px;
		border-top: 1px solid var(--clr-border-light);
	}
	.form-panel-box {
		.frm-row, .frm-row-submit {
			margin: 0 -15px;
		}
		.frm-field {
			padding: 0 15px;
		}
		.field-half {
			max-width: 620px;
		}
		.field-content {
			.btn {
				width: auto;
				flex: 0 0 auto;
			}
		}
	}
	.tabs-slider-box {
		.slider-wrap {
			margin: 0 -16px;
		}
		.sl-wrap {
			padding: 0;
		}
	}
	.title-panel-box {
		display: flex;
		flex-wrap: wrap;
		.actions-wrap {
			display: flex;
		}
		.tabs-wrap {
			flex-shrink: 0;
		}
		.tabs-slider-box {
			margin-bottom: 15px;
		}
	}
	.panel-box {
		.tbl-inner-wrap {
			&+.tbl-inner-wrap {
				border-top: 1px solid var(--clr-border-light);
			}
		}
		table {
			thead {
				white-space: nowrap;
			}
		}
		&.elm-panel-desktop, &.elm-panel {
			.elm-panel-desktop, .elm-panel {
				.tbl-inner-wrap {
					margin-left: -11px;
					margin-right: -11px;
				}
				.page-actions-box {
					margin-left: -11px;
					margin-right: -11px;
					padding-left: 11px;
					padding-right: 11px;
				}
			}
			.tbl-inner-wrap {
				margin-left: -14px;
				margin-right: -14px;
			}
			.page-actions-box {
				margin-left: -14px;
				margin-right: -14px;
				padding-left: 14px;
				padding-right: 14px;
			}
		}
		.form-panel-outer-wrap {
			display: flex;
			align-items: flex-end;
			gap: 4.5rem;
		}
		.form-panel-main-wrap {
			flex: 1;
		}
		.form-panel-second-wrap {
			width: 35%;
			max-width: 528px;
			flex-shrink: 0;
			margin: 0;
		}
		.panel-form-wrap {
			.frm-row {
				display: block;
				columns: 2;
				column-gap: 16px;;
			}
			.frm-field {
				page-break-inside: avoid;
				break-inside: avoid-column;
			}
		}
		&.elm-panel {
			padding: 15px;
			.elm-panel-desktop {
				padding: 11px;
			}
		}
		&.elm-panel-desktop {
			padding: 15px;
			.elm-panel-desktop {
				padding: 11px;
			}
		}
		.panel-tabs-wrap {
			margin-left: -15px;
			margin-right: -15px;
			margin-bottom: 15px;
			&:first-child {
				margin-top: -15px;
			}
		}
		.panel-actions-wrap {
			display: flex;
			margin-bottom: 12px;
			&.desktop-one-row {
				display: flex;
				.filter-box {
					flex-shrink: 0;
					max-width: 60%;
					width: auto;
					&:only-child {
						width: 100%;
						max-width: 100%;
						.frm-field {
							min-width: 0;
							width: 20%;
						}
					}
					.frm-field {
						width: auto;
						min-width: 188px;
						&.field-submit {
							width: auto;
							min-width: 0;
						}
					}
					.frm-row {
						justify-content: flex-end;
					}
				}
				.search-inner-wrap {
					width: auto;
					flex: 1;
					padding: 0 0 0 0;
				}
			}
			.panel-title {
				margin-bottom: 8px;
			}
		}
		.form-inner-wrap, .buttons-inner-wrap {
			order: 4;
		}
		.buttons-inner-wrap {
			width: auto;
		}
		.search-inner-wrap {
			width: 100%;
		}
		.tbl-inner-wrap {
			overflow-x: auto;
			&:has(tbody+tbody) {
				max-height: 300px;
				overflow-y: auto;
				table {
					thead {
						position: sticky;
						top: 0;
						z-index: 100;
					}
				}
			}
			&:has(tr:nth-child(4)) {
				max-height: 240px;
				overflow-y: auto;
				table {
					thead {
						position: sticky;
						top: 0;
						z-index: 100;
					}
				}
			}
			&::-webkit-scrollbar {
				height: 4px;
				width: 4px;
				border-radius: 2px;
				//border-top: 3px solid #fff;
				background: #f5f5f5;
			}
			&::-webkit-scrollbar-thumb {
				//border-top: 3px solid #fff;
				background-color: var(--clr-att);
			}
			&::-webkit-scrollbar-thumb:hover {
				//border-top: 3px solid #fff;
				background-color: var(--clr-att);
			}
			&::-webkit-scrollbar-button:vertical:start:decrement {
				background-color: transparent;
				width: 0;
				height: 0;
			}
			&::-webkit-scrollbar-button:vertical:end:increment {
				background-color: transparent;
				width: 0;
				height: 0;
			}
			&::-webkit-scrollbar-button:horizontal:start:decrement {
				background-color: transparent;
				width: 0;
				height: 0;
			}
			&::-webkit-scrollbar-button:horizontal:end:increment {
				background-color: transparent;
				width: 0;
				height: 0;
			}
		}
	}
	.filter-box {
		.frm-field {
			width: auto;
		}
	}
	.tiles-box {
		margin-bottom: 15px;
		.notify-panel-wrap {
			display: block;
			margin-top: 15px;
		}
		.panel-list-box {
			margin: 0;
			display: flex;
			flex-direction: column;
			min-height: 100%;
			.panel-items-wrap {
				&:has(.item-wrap:nth-child(4)) {
					max-height: 290px;
					overflow-y: auto;
					&::-webkit-scrollbar {
						height: 4px;
						width: 4px;
						border-radius: 2px;
						background-color: #f5f5f5;
					}
					&::-webkit-scrollbar-thumb {
						background-color: var(--clr-att);
					}
					&::-webkit-scrollbar-thumb:hover {
						background-color: var(--clr-att);
					}
					&::-webkit-scrollbar-button:vertical:start:decrement {
						background-color: transparent;
						width: 0;
						height: 0;
					}
					&::-webkit-scrollbar-button:vertical:end:increment {
						background-color: transparent;
						width: 0;
						height: 0;
					}
					&::-webkit-scrollbar-button:horizontal:start:decrement {
						background-color: transparent;
						width: 0;
						height: 0;
					}
					&::-webkit-scrollbar-button:horizontal:end:increment {
						background-color: transparent;
						width: 0;
						height: 0;
					}
				}
			}
		}
	}
}
@media (min-width: 1200px) {
	.tiles-box {
		&:has(.notify-panel-wrap) {
			display: flex;
			.items-inner-wrap {
				flex: 1;
				padding-right: 15px;
			}
			.notify-panel-wrap {
				width: 22.78%;
				margin-top: 0;
				flex-shrink: 0;
				min-height: 100%;
				display: flex;
				flex-direction: column;
			}
		}
	}
}
@media (min-width: 1400px) {
	.panels-grid-box {
		.wrap-panel-main {
			width: 71%;
			.panel-box {
				display: flex;
				flex-direction: column;
				.panel-outer-wrap {
					display: flex;
					flex-direction: column;
					width: 100%;
					flex: 1;
				}
				.panel-content-wrap {
					flex: 1;
					display: flex;
					flex-direction: column;
					width: 100%;
				}
				.info-map-box {
					flex: 1;
				}
			}
		}
		.wrap-panel-side {
			width: 29%;
		}
	}
	.panel-box .info-map-box .map-inner-wrap {
		min-height: 300px;
	}
	.panel-box.panel-teams .panel-buttons-wrap {
		order: 3;
		padding-left: 15px;
	}
	.panel-box.panel-teams .panel-outer-wrap {
		margin: 0;
		order: 2;
		flex-shrink: 0;
		width: auto;
		padding: 0 0 0 15px;
	}
}