/* ----------------------------------- *\
			forms elements styles
\* ----------------------------------- */
.frm-field-select {
	display: block;
	position: relative;
	.btn-popup {
		width: 100%;
		flex-wrap: wrap;
		height: auto;
		font-size: 14px;
		line-height: (20/14);
		color: var(--clr-base);
		padding: 8px 40px 8px 10px;
		min-height: 46px;
		height: 100%;
		flex-direction: column;
		justify-content: center;
		gap: 3px;
		text-align: left;
		.button-title, .button-head {
			display: block;
			position: relative;
			max-width: 100%;
			flex-shrink: 0;
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.button-head {
			font-size: 16px;
			line-height: 1.45;
			color: var(--clr-light);
		}
		&.button-arrow {
			&:before {
				rotate: 90deg;
				background-size: 28px auto;
			}
			&:not(:hover) {
				&:before {
					filter: var(--filterAttToBase);
				}
			}
		}
		&.active {
			&.button-arrow {
				&:before {
					rotate: -90deg;
				}
			}
		}
	}
	.active {
		&~.select-content-block {
			display: block;
		}
	}
	.select-content-block {
		display: none;
		animation: fadein ease 0.2s;
		position: absolute;
		top: 100%;left: 0;right: 0;
		border-radius: var(--mainRadius);
		padding: 15px;
		border: 1px solid var(--clr-border-light);
		background: #fff;
		z-index: 20;
	}
	.menu {
		max-height: 200px;
		overflow-y: auto;
		padding-right: 10px;
		&::-webkit-scrollbar {
			height: 4px;
			width: 4px;
			background-color: var(--clr-bg-light);
		}
		&::-webkit-scrollbar-thumb {
			background-color: var(--clr-att);
		}
		&::-webkit-scrollbar-thumb:hover {
			background-color: var(--clr-att);
		}
		&::-webkit-scrollbar-button:vertical:start:decrement {
			background-color: transparent;
			width: 0;
			height: 0;
		}
		&::-webkit-scrollbar-button:vertical:end:increment {
			background-color: transparent;
			width: 0;
			height: 0;
		}
		&::-webkit-scrollbar-button:horizontal:start:decrement {
			background-color: transparent;
			width: 0;
			height: 0;
		}
		&::-webkit-scrollbar-button:horizontal:end:increment {
			background-color: transparent;
			width: 0;
			height: 0;
		}
	}
	[data-count]:after {
		display: none;
	}
	.frm-select {
		font-size: 16px;
		line-height: 1.4;
		label {
			padding: 10px 15px;
			border-radius: var(--mainRadius);
			transition: all ease 0.2s;
			&:hover {
				background-color: var(--clr-bg-light);
			}
			&:before, &:after {
				display: none;
			}
		}
		input {
			&:checked {
				&~label {
					background-color: var(--clr-att);
					color: #fff;
				}
			}
		}
	}
}
.frm-field-actions-panel {
	display: flex;
	gap: 8px;
	flex-shrink: 0;
	.field-action-wrap {
		flex-shrink: 0;
	}
	.field-counter-wrap {
		flex: 1;
	}
	.frm-field-counter {
		width: 100%;
	}
}
.frm-main-search {
	position: relative;
	display: block;
	.btn-form {
		width: 32px;height: 32px;
		position: absolute;
		top: 50%;right: 0;
		margin-top: -16px;
		z-index: 3;
	}
	.form-input {
		padding-right: 40px;
		//border-radius: 4px;;
	}
}
.frm-field-input {
	display: block;
	position: relative;
	&:before, .frm-ico {
		content: "";
		display: block;
		width: 24px;
		height: 24px;
		position: absolute;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		top: 50%;right: 5px;
		margin-top: -12px;
		z-index: 2;
		filter: var(--filterAttToBase);
	}
	&:before {
		pointer-events: none;
	}
	&:has(.frm-ico) {
		.form-input {
			padding-right: 40px;
		}
		&:before {
			display: none;
		}
	}
	.frm-ico {
		cursor: pointer;
		&:hover {
			filter: none;
		}
	}
	&.type-date {
		.form-input {
			padding-right: 40px;
		}
		&:before {
			background-image: url(../img/icons/date.svg);
		}
	}
}
.frm-row,
.frm-row-submit {
    display: flex;
    flex-wrap: wrap;
	position: relative;
	line-height: 1;
	margin: 0 -5px;
}
.frm-field {
    display: block;
    width: 100%;
	flex-shrink: 0;
	padding: 0 5px;
	margin-bottom: 10px;
}
.frm-select, .frm-select-toggle {
	position: relative;
	display: block;
	overflow: hidden;
    line-height: 1;
	&.inp-button {

	}
	input {
		display: block;
		position: absolute;
		top: 0;left: 0;
		width: 0;height: 0;
		opacity: 0;
		margin: 0;
		padding: 0;
		&:checked {
			&~label {
				&:after {
					opacity: 1;
				}
			}
		}
	}
	label {
		display: block;
		position: relative;
		cursor: pointer;
        &:before, &:after {
            content: "";
            display: block;
            position: absolute;
        }
		&:after {
			opacity: 0;
		}
	}
}
.frm-select-toggle {
	width: 24px;height: 24px;
	flex-shrink: 0;
	line-height: 1;
	position: relative;
	overflow: hidden;
	input {
		&:checked {
			&~label {
				&:before, &:after {
					border-color: var(--clr-att);
				}
				&:after {
					left: 12px;
				}
			}
		}
	}
	label {
		width: 24px;height: 24px;
		&:before {
			width: 24px;height: 14px;
			border-radius: 7px;
			border: 2px solid var(--clr-base);
			top: 50%;left: 0;right: 0;
			transition: all ease 0.2s;
			margin-top: -7px;
		}
		&:after {
			width: 8px;height: 8px;
			border: 2px solid var(--clr-base);
			position: absolute;
			top: 50%;left: 4px;
			opacity: 1;
			border-radius: 50%;
			margin-top: -4px;
			transition: all ease 0.2s;
		}
	}
}


.frm-select {
	&.inp-button {
		width: 40px;height: 40px;
		label {
			width: 40px;height: 40px;
			&:before, &:after {
				top: 50%;left: 50%;
			}
		}
	}
	input {
		&[type="radio"] {
			&~label {
				&:before {
					border-radius: 50%;
				}
				&:after {
					width: 8px;height: 8px;
					margin: -4px 0 0 -4px;
					border-radius: 50%;
					background: #000;
				}
			}
		}
		&:checked {
			&~label {
				&:after {
					opacity: 1;
				}
			}
		}
	}
	label {
		&:before, &:after {
			width: 20px;height: 20px;
			border-radius: 1px;
			border: 1px solid var(--clr-base);
			top: 10px;
			left: 10px;
			margin: -10px 0 0 -10px;
		}
		&:after {
			border-radius: 0;
			border: none;
			background: url(../img/icons/check.svg) center / 20px auto no-repeat;
			opacity: 0;
		}
	}
	a {
		color: inherit;
		&:hover {
			color: var(--clr-att);
		}
	}
}
.frm-select-button {
	position: relative;
	line-height: 1;
	flex-shrink: 0;
	input {
		position: absolute;
		top: 0;left: 0;
		opacity: 0;
		z-index: -999;
		&:checked {
			&~.btn {
				background-color: var(--clr-base);
				border-color: var(--clr-base);
				color: #fff;
			}
			&~.btn.button-border {
				background-color: var(--clr-base);
				border-color: var(--clr-base);
				color: #fff;
			}
			&~.btn.button-light.button-border {
				border-color: var(--clr-att);
				background-color: var(--clr-bg-light);
				color: var(--clr-att);
			}
		}
	}
	.btn {
		width: 100%;
		padding: 0 19px;
		font-size: 16px;
	}
	.button-light {
		color: var(--clr-base);
	}
}
.frm-field-counter {
	display: block;
	position: relative;
	overflow: hidden;
	line-height: 1;
	min-width: 65px;
	.form-input {
		text-align: center;
		padding: 0;
		font-size: 14px;
		font-weight: 400;
	}
	.btn-action-ico {
		width: 30px;height: 36px;
		position: absolute;
		top: 0;left: 0;
		z-index: 2;
	}
	.ico-plus {
		left: auto;
		right: 0;
	}
}
@media (max-width: 743px) {
	.frm-field-actions-panel {
		.btn {
			height: 28px;
			min-width: 28px;
			border-radius: 3px;
		}
		.btn:has(.button-ico:only-child) {
			width: 28px;
			min-width: 28px;
		}
		.frm-field-counter {
			height: 28px;
			.form-input {
				height: 28px;
				font-size: 11px;
				border-radius: 3px;
			}
			.btn-action-ico {
				height: 28px;
			}
			.ico-minus {
				left: -5px;
			}
			.ico-plus {
				right: -5px;
			}
		}
	}
	
}
@media (min-width: 744px) {
	.frm-field-select {
		.btn-popup {
			flex-direction: row;
			padding-left: 14px;
			.button-title, .button-head {
				width: auto;
			}
			.button-head {
				margin-right: 3px;
			}
			.button-title {
				flex: 1;
			}
		}
	}
	.frm-field-actions-panel {
		.field-counter-wrap {
			width: 90px;
		}
	}
}
@media (min-width: 1024px) {
	.frm-field-select {
		.btn-popup {
			
		}
	}
}