<!--footer-->
<div class="footer">
	<div class="inner-wrap">
		<div class="info-wrap">Сделано <a href="">Веб-Успех</a></div>
	</div>
</div>
<!--/footer-->


<!--popup-outer-box-->
<div class="popup-outer-box popup-cart" id="popup-cart-added">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="elm-ico">
				<img src="./img/icons/succefull-added.svg" alt="">
			</div>
			<div class="popup-title">Товар добавлен в корзину</div>
		</div>
	</div>
</div><!--/popup-outer-box-->