
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-inner-wrap">
			<a href="" class="logo">
				<div class="logo-image">
					<img src="./img/main/logo.svg" alt="">
				</div>
				<div class="logo-title">АЗС Управление</div>
			</a>
		</div>
		<div class="actions-inner-wrap">
			<div class="action-wrap action-button">
				<a href="" class="btn button-link-dark" data-count="3">
					<div class="button-ico">
						<img src="./img/icons/notify.svg" alt="">
					</div>
				</a>
			</div>
			<div class="action-wrap action-user">
				<a href="" class="btn button-link-dark">
					<div class="elm-photo photo-cover">
						<!-- <img src="./img/user.jpg" alt=""> -->
					</div>
					<div class="button-title">Иванов Иван Иванович </div>
					<span class="button-info">Админ</span>
				</a>
			</div>
			<div class="action-wrap action-exit">
				<a href="" class="btn">
					<div class="button-ico">
						<img src="./img/icons/exit.svg" alt="">
					</div>
				</a>
			</div>
		</div>
		<a href="" class="btn btn-action-ico ico-menu btn-popup-menu js-btn-popup-menu"></a>
	</div>
</header>
<!-- /header -->
 
<!--nav-->
<nav class="nav">
	<a href="" class="btn-menu-toggle-width js-btn-menu-toggle-width"></a>
	<ul class="menu">
		<li>
			<a href="" class="btn button-menu active">
				<div class="button-ico">
					<img src="./img/icons/menu01.svg" alt="">
				</div>
				<div class="button-title">Главная</div>
			</a>
		</li>
		<li>
			<a href="" class="btn button-menu">
				<div class="button-ico">
					<img src="./img/icons/menu03.svg" alt="">
				</div>
				<div class="button-title">Склад и товары</div>
			</a>
		</li>
		<li>
			<a href="" class="btn button-menu">
				<div class="button-ico">
					<img src="./img/icons/menu04.svg" alt="">
				</div>
				<div class="button-title">Пользователи</div>
			</a>
		</li>
		<li>
			<a href="" class="btn button-menu">
				<div class="button-ico">
					<img src="./img/icons/menu06.svg" alt="">
				</div>
				<div class="button-title">Антикоррупция</div>
			</a>
		</li>
		<li>
			<a href="" class="btn button-menu">
				<div class="button-ico">
					<img src="./img/icons/menu07.svg" alt="">
				</div>
				<div class="button-title">Справочники</div>
			</a>
		</li>
		<li>
			<a href="" class="btn button-menu">
				<div class="button-ico">
					<img src="./img/icons/menu08.svg" alt="">
				</div>
				<div class="button-title">Договора</div>
			</a>
		</li>
		<li>
			<a href="" class="btn button-menu">
				<div class="button-ico">
					<img src="./img/icons/menu09.svg" alt="">
				</div>
				<div class="button-title">Меню выгрузки</div>
			</a>
		</li>
	</ul>
</nav>
<!--/nav-->